{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %} 
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">


      <div class="header header_mobile">
         <h1 class="header__heading">
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </h1>

     <span class="drawer_close">
       
<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"  class="icon icon-close">
<path d="M1.15385 15.5L0 14.3462L6.34615 8L0 1.65385L1.15385 0.5L7.5 6.84615L13.8462 0.5L15 1.65385L8.65385 8L15 14.3462L13.8462 15.5L7.5 9.15385L1.15385 15.5Z" fill="#222222"/>
</svg>

      </span>
      </div> 

      
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      {% if customer.b2b? == true %}
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase b2b_mobilemenu"
                      >
                        <a class="b2b_mobilemenu_link" style="width:100%;" href="{{ link.url }}">
                          
                             {% if link.title contains "::" %}
                  {{- link.title | escape | split:"::" | last -}}
                  {% else %}
                    {{- link.title | escape -}}
                  {% endif %}
                            {% if link.title contains "::" %} 
                  <span class="new_badges mobile">{{- link.title | split:"::" | first -}}</span>
                  {% endif %}
                        </a>                   
                      </summary>
                      {% else %}
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase {% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >

                         {% if link.title contains "::" %}
                  {{- link.title | escape | split:"::" | last -}}
                  {% else %}
                    {{- link.title | escape -}}
                  {% endif %}
                        {% if link.title contains "::" %} 
                  <span class="new_badges mobile">{{- link.title | split:"::" | first -}}</span>
                  {% endif %}
                        
                        {% render 'icon-header' %}
                        {% render 'icon-caret' %}
                      </summary>
                      {% endif %}
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset font-size-16px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase" aria-expanded="true">
                            {% render 'icon-header' %}
                         
                             {% if link.title contains "::" %}
                  {{- link.title | escape | split:"::" | last -}}
                  {% else %}
                    {{- link.title | escape -}}
                  {% endif %}
                               {% if link.title contains "::" %} 
                  <span class="new_badges mobile">{{- link.title | split:"::" | first -}}</span>
                  {% endif %}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase {% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase "
                                    >
                                      {{ childlink.title | escape }}
                                      {% render 'icon-header' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                     
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}

                      {% assign menuname = '' %}  
                    {% assign l_menuname = '' %}  
          {% assign c_menu = '' %}
          {% for block in section.blocks %}
            {%  case block.type %}
              {% when 'Sub_menu' %}           
              {% assign l_menuname = l_menuname | append: block.settings.sub_menu_name  %}
              {% assign l_menuname = l_menuname | append:' , '  %}             
              {% assign menuname = block.settings.sub_menu_name %}
              {% assign c_menu = block.settings.sub_menu %}
              <!-- new menu call start-->

           {% if link.title == menuname %}
         <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                    
                    <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase {% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >

                         {% if link.title contains "::" %}
                  {{- link.title | escape | split:"::" | last -}}
                  {% else %}
                    {{- link.title | escape -}}
                  {% endif %}
                        {% if link.title contains "::" %} 
                  <span class="new_badges mobile">{{- link.title | split:"::" | first -}}</span>
                  {% endif %}
                        
                        {% render 'icon-header' %}
                        {% render 'icon-caret' %}
                      </summary>

           <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                             <button class="menu-drawer__close-button link link--text focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase" aria-expanded="true">
                            {% render 'icon-header' %}
                         Main Menu                       
                          </button>

                          <h3 class="current_menu text-transform-uppercase font-family-Neuzeit font-size-18px  font-weight-700 color-black line-height-26px">
                               {% if link.title contains "::" %}
                  {{- link.title | escape | split:"::" | last -}}
                  {% else %}
                    {{- link.title | escape -}}
                  {% endif %}
                               {% if link.title contains "::" %} 
                  <span class="new_badges mobile">{{- link.title | split:"::" | first -}}</span>
                  {% endif %}
                    {% assign parentmenu = link.title %}
                          </h3>
                          
                         
                          <ul class="menu-drawer__menus has-submenu list-menu" role="list">
             {%- for link in linklists[c_menu].links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}" class="bg_color">
                      {% if customer.b2b? == true %}
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase b2b_mobilemenu"
                      >
                        <a class="b2b_mobilemenu_link" style="width:100%;" href="{{ link.url }}">
                          
                             {% if link.title contains "::" %}
                  {{- link.title | escape | split:"::" | last -}}
                  {% else %}
                    {{- link.title | escape -}}
                  {% endif %}
                            {% if link.title contains "::" %} 
                  <span class="new_badges mobile">{{- link.title | split:"::" | first -}}</span>
                  {% endif %}
                        </a>                   
                      </summary>
                      {% else %}
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase submain_menu_heading{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >


                          <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ link.url }}"
                                    class="font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase text-decoration-none{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if link.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ link.title | escape }}
                                  </a>
                        

                        
                        
                        {% render 'icon-header' %}
                        {% render 'icon-caret' %}
                      </summary>
                      {% endif %}
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce submenu_open"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                         

                          
                          
                          <ul class="menu-drawer__menus list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase kk{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}"  class="menu-opening">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase submenu_head_sub"
                                    >

                                        <a
                                    id="HeaderDrawer-{{ childlink.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="sub_menu_heading font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase text-decoration-none{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                  {{ childlink.title | escape }}
                                  </a>

                                 
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce submenu_open"
                                    >
                                    

                                    
                                      
                                      <ul
                                        class="menu-drawer__menus list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase {% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase sublinks_last{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                     
                       {% if link.title contains "::" %}
                  {{- link.title | escape | split:"::" | last -}}
                  {% else %}
                    {{- link.title | escape -}}
                  {% endif %}
                       {% if link.title contains "::" %} 
                  <span class="new_badges mobile">{{- link.title | split:"::" | first -}}</span>
                  {% endif %}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
                        </div>
           </div>
                        </details>             
             
                    {% endif %}

                     <!-- new menu call  end-->
              {% endcase %}
          {% endfor %} 
              
                    {% unless  l_menuname contains link.title %}                    
                  <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset font-size-18px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                         
                       {% if link.title contains "::" %}
                  {{- link.title | escape | split:"::" | last -}}
                  {% else %}
                    {{- link.title | escape -}}
                  {% endif %}
                       {% if link.title contains "::" %} 
                  <span class="new_badges mobile">{{- link.title | split:"::" | first -}}</span>
                  {% endif %}
                    </a>
                 
                     {% endunless %}

                    
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">

            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <noscript>
                    {%- form 'localization', id: 'HeaderCountryMobileFormNoScriptDrawer', class: 'localization-form' -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScriptDrawer">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        <select
                          class="localization-selector link"
                          name="country_code"
                          aria-labelledby="HeaderCountryMobileLabelNoScriptDrawer"
                        >
                          {%- for country in localization.available_countries -%}
                            <option
                              value="{{ country.iso_code }}"
                              {%- if country.iso_code == localization.country.iso_code %}
                                selected
                              {% endif %}
                            >
                              {{ country.name }} ({{ country.currency.iso_code }}
                              {{ country.currency.symbol }})
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                    {%- endform -%}
                  </noscript>

                  <localization-form class="no-js-hidden">
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <noscript>
                    {%- form 'localization',
                      id: 'HeaderLanguageMobileFormNoScriptDrawer',
                      class: 'localization-form'
                    -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScriptDrawer">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        <select
                          class="localization-selector link"
                          name="locale_code"
                          aria-labelledby="HeaderLanguageMobileLabelNoScriptDrawer"
                        >
                          {%- for language in localization.available_languages -%}
                            <option
                              value="{{ language.iso_code }}"
                              lang="{{ language.iso_code }}"
                              {%- if language.iso_code == localization.language.iso_code %}
                                selected
                              {% endif %}
                            >
                              {{ language.endonym_name | capitalize }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                    {%- endform -%}
                  </noscript>

                  <localization-form class="no-js-hidden">
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}

                        {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide font-size-16px  font-weight-400 color-black line-height-26px font-family-Neuzeit text-transform-uppercase"
              >
                {% render 'icon-account' %}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
          
          </div>
           <div class="mobile_social_icon">
         
         <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul> 
            </div>
        </div>
        
      </div>
    </div>
  </details>
</header-drawer>

  <style>
    .menu-drawer__inner-submenu .menu-drawer__menus .icon-arrow{ 
    position: absolute;
    right: 5px !important;
    top: 42%;
    rotate: 90deg;
    }

    .menu-drawer__menus details[open] .menu-drawer__menu-item .icon-arrow{rotate: 270deg;top:38%;}
    .menu-drawer__menus .menu-drawer__menu-item {text-decoration: none !important;}
    .menu-opening .menu-drawer__menu-item .sub_menu_heading{font-weight: 700;}
    .menu-opening .menu-drawer__menu-item{padding:0 15px !important;}
    .menu-drawer__menus details[open].menu-opening .submenu_open .menu-drawer__submenu{
      padding: 0px !important;
      transform: none;
      visibility: visible;
      position: relative;
                                                                                      }
    .submenu_open .menu-opening .menu-drawer__submenu.submenu_open .menu-drawer__menus{padding:0 20px !important;}
    .submenu_open .menu-drawer__inner-submenu ul.menu-drawer__menus.list-menu{padding:0 10px !important;}
    .menu-drawer__menus details[open].bg_color > summary.list-menu__item{background-color:#F5F5F5 !important;padding-right:10px !important;padding-left:10px !important;border-radius:10px;}
    .submenu_head_sub{pointer-events: none;}
    .bg_color.menu-opening .menu-drawer__submenu .menu-drawer__inner-submenu{padding:0 10px !important;}
     
    .menu-drawer__inner-container {position: relative;height: calc(100vh - var(--header-height) - 35px);}
    .scrolled-past-header .menu-drawer__inner-container {height: calc(100vh - var(--header-height));}
    .menu-drawer__inner-container .font-size-18px {font-size: 16px !important;}
    .menu-drawer__inner-submenu .bg_color .submain_menu_heading{padding:10px 0 !important;}
    .menu-drawer__inner-submenu .bg_color .menu-drawer__menus .menu-drawer__menu-item{padding:10px 0 !important;}
    .menu-drawer .menu-drawer__menu-item.list-menu__item.sublinks_last{padding:10px 0 !important;}

    .js .menu-drawer__navigation .submenu-open > li:last-child > details >.menu-drawer__submenu.submenu_open .menu-drawer__inner-submenu > ul.menu-drawer__menus.list-menu > li:last-child > details > .menu-drawer__submenu.submenu_open > ul > li:last-child a{margin-bottom:30px;}
    .js .menu-drawer__navigation .submenu-open > li:last-child > details{margin-bottom:15px;}
    

    @media(max-width:480px){
      .menu-drawer__inner-container {position: relative;height: calc(100vh - var(--header-height) - 54px);}
    }
  </style>