{%- comment -%}
  Renders the language picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
    aria-expanded="false"
    aria-controls="{{ localPosition }}List"
    aria-describedby="{{ localPosition }}Label"
  >
    <span class="font-size-16px  font-weight-400 line-height-26px font-family-Neuzeit color-black text-transform-uppercase">{{ localization.language.endonym_name | capitalize }}</span>
    {% comment %} {% render 'icon-caret' %}{% endcomment %}
    
  <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon icon-caret">
<path d="M1.49077 11.7625L6.82586 6.44327C6.88918 6.37995 6.93393 6.31135 6.96011 6.23747C6.9867 6.16359 7 6.08443 7 6C7 5.91557 6.9867 5.83641 6.96011 5.76253C6.93393 5.68865 6.88918 5.62005 6.82586 5.55673L1.49077 0.221636C1.34301 0.0738786 1.15831 0 0.936676 0C0.71504 0 0.525067 0.0791557 0.366755 0.237467C0.208444 0.395778 0.129288 0.580475 0.129288 0.791557C0.129288 1.00264 0.208444 1.18734 0.366755 1.34565L5.02111 6L0.366755 10.6544C0.218998 10.8021 0.145119 10.9841 0.145119 11.2002C0.145119 11.4168 0.224275 11.6042 0.382586 11.7625C0.540897 11.9208 0.725594 12 0.936676 12C1.14776 12 1.33245 11.9208 1.49077 11.7625Z" fill="#10100E"/>
</svg>

  </button>
  <div class="disclosure__list-wrapper" hidden>
    <ul id="{{ localPosition }}List" role="list" class="disclosure__list list-unstyled">
      {%- for language in localization.available_languages -%}
        <li class="disclosure__item" tabindex="-1">
          <a
            class="link link--text disclosure__link caption-large focus-inset"
            href="#"
            hreflang="{{ language.iso_code }}"
            lang="{{ language.iso_code }}"
            {% if language.iso_code == localization.language.iso_code %}
              aria-current="true"
            {% endif %}
            data-value="{{ language.iso_code }}"
          >
            <span
              {% if language.iso_code != localization.language.iso_code %}
                class="visibility-hidden"
              {% endif %}
            >
              {%- render 'icon-checkmark' -%}
            </span>
            <span class="font-size-16px  font-weight-400 line-height-26px font-family-Neuzeit color-black text-transform-uppercase">
              {{ language.endonym_name | capitalize }}
            </span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
